doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    .container
      nav
        a(href="/posts/new")
         | New Post  
        a(href="/posts")
         | See Posts
      block content
